* {
    margin: 0;
    font-family: "Odibee Sans";
}

.main-container {
    width: 100%;
    height: 60.5rem;
    background-color: rgb(226, 223, 223);
}

.months {
    font-size: 3rem;
    width: 100%;
    height: 5rem;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}

.showing-month {
    padding-top: 8px;
    margin-left: 4rem;
}

.navigation {
    width: 20rem;
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-month {
    padding-top: 8px;
    transform: scale(0.8);
}

.new-month:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.next-month:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.base-container {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 70rem;
    height: 40rem;
    /* background-color: rgb(236, 245, 252); */
    background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%);
}

.nav {
    width: 70rem;
    height: 4rem;
    padding: 2rem;
    font-size: 2rem;
    box-sizing: border-box;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.content {
    width: 50rem;
    height: 4rem;
    background-color: aliceblue;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}